body {
  background-color: hsl(221, 100%, 96%);
  font-family: "Hanken Grotesk", sans-serif;
  height: 100vh;
  margin: 0;
}

* {
  margin: 0;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  background-color: #fff;
  border-radius: 15px;
  height: max-content;
  width: max-content;
  box-shadow: 3px 10px 15px rgba(0, 8, 255, 0.069);
}

.result {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  width: fit-content;
  height: 284px;
  border-radius: 15px;
  color: #ffffff9b;
  text-align: center;
  justify-content: center;
}

.head {
  font-size: 12px;
  margin: 20px 0px;
}

.circle {
  background: linear-gradient(to top, hsla(241, 72%, 46%, 0), rgb(78, 33, 202));
  width: 110px;
  height: 110px;
  border-radius: 100%;
  justify-self: center;
}

.percent-rate {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  /* margin-top: 20px; */
  padding-top: 20px;
}

.overall {
  font-size: 10px;
}

.review {
  font-weight: 700;
  color: #fff;
  margin-top: 20px;
}

.comment {
  font-size: 10px;
  width: 140px;
  justify-self: center;
  padding: 0 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 15px;
}

.summary {
  margin: 20px;
  font-size: 12px;
  width: 180px;
}

.sum {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.react,
.memory,
.verbal,
.visual {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 600;
}

.react {
  background-color: hsla(0, 100%, 67%, 0.05);
  color: hsl(0, 100%, 67%);
}

.memory {
  background-color: hsla(39, 100%, 56%, 0.05);
  color: hsl(39, 100%, 56%);
}

.verbal {
  background-color: hsla(166, 100%, 37%, 0.05);
  color: hsl(166, 100%, 37%);
}

.visual {
  background-color: hsla(234, 85%, 45%, 0.05);
  color: hsl(234, 85%, 45%);
}

.icon-label {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 5px;
  width: 15px;
}

.score {
  color: rgba(0, 0, 0, 0.445);
}

.percentage {
  color: black;
}

button {
  background-color: hsl(224, 30%, 27%);
  border: none;
  width: 100%;
  padding: 10px 0;
  font-size: 10px;
  color: #fff;
  border-radius: 20px;
  margin-top: 12px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}
button:active {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.212);
}

/* MOBILE (default adjustment for small screens) */
@media (max-width: 600px) {
  * {
    margin: 0;
  }
  .parent {
    height: auto;
    padding: 20px;
  }

  .container {
    flex-direction: column;
    width: 95%;
  }

  .result {
    width: 100%;
    border-radius: 15px;
  }

  .summary {
    width: auto;
    margin: 20px;
  }
}

/* DESKTOP – make layout bigger */
@media (min-width: 900px) {
  .result {
    height: 320px;
    padding: 10px 20px;
  }

  .summary {
    height: 100%;
    width: 240px;
    font-size: 13px;
  }

  .circle {
    width: 130px;
    height: 130px;
  }

  .percent-rate {
    font-size: 48px;
  }
}
